*{ box-sizing: border-box;  padding: 0; margin: 0; }
body {
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    overflow-y: auto;   /* Permite el desbordamiento vertical */
}

.blur{  filter: blur(2.5px); }


/*FUENTES*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 100;
    font-style: normal;    
}

.bebas-neue-regular{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dela-gothic{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

/*********************************CABECERA*********************************/
/*La cabecera de la página es el mismo para todos los frames, solo sufre modificaciones cuando se pasa de una version a otra*/
header{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    width: 100%;
}

header > div#titulo-principal{
    margin: 0 auto;
    padding: 1rem;
}

header > div.cabecera{
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;
}

#logo-uv, #search{ display: none; }

header > div.cabecera > form{
    border: solid red 1px;
    border-radius: 10px;
    display: flex;
    padding-left: 10px;
    width: 60%;
}

header > div.cabecera > form > input{
    background: none;
    border: none;
    padding: 10px;
}

header > div.cabecera > form > input::placeholder{
    color: white;
    font-weight: bold;
}
header > div.cabecera > form.borde-blanco{ border-color: white;}
header > div.cabecera > form.borde-negro{ border-color: black;}
header > div.cabecera > form.borde-negro > input::placeholder{ color: black;}

/*MENU DESPLEGABLE*/
div.menu{
    background-color: whitesmoke;
    width: 300px;
    height: 650px;
    position: absolute; 
    left:-300px;
    top:4.4rem;
    transition: transform 0.5s ease;
    z-index: 2;
}

div.menu > div.cabecera-menu{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
}
div.menu > div.cabecera-menu > img{
    background-color: grey;
    opacity: 50%;
    padding: 10px;
    margin: .5rem;
}

div.menu > ul{ padding: 1rem; }

div.menu > ul{ list-style: none; }
div.menu > ul > li{ 
    text-decoration: none; 
    background-color: black;
    padding: .8rem;
    margin: .5rem;

}
div.menu > ul > li > a{ 
    text-decoration: none; 
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 30px;
}
div.menu > div.envios{
    display: flex;
    background-color: red;
    opacity: 80%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
div.menu > div.envios > p{
    padding: 0px 7px 0px 7px;
    font-size: 17px;
}
div.menu > div.logotipo-pie > p{ font-size: 10px; }

/*Clase para que el menu se muestre*/
.menu-abierto {
    transform: translateX(300px);
}


/*COOKIES*/
#cookies-principal {
    position: fixed;
    left: 40%;
    transform: translateX(-50%);
    background-color: lightgray;
    padding: 2rem;
    width: 400px;
    border-radius: 10px;
    margin: 3rem;
    z-index: 3;
}

div#cookies-principal > h2{ text-align: center; padding: 1rem;}
div#cookies-principal > ul > li {  margin-left: 2.5rem;}
.espacio-izq{ margin-left: .5rem; }
hr{ margin: 1rem; }

div#cookies-principal input[type="button"]{
    background-color: grey;
    padding: .8rem 1.5rem .8rem 1.5rem;
    border-radius: 20px;
    margin: .5rem;
    border: solid 1px grey;
    font-weight: bold;
}

div#cookies-principal > div#formulario-cookies{    
    padding: 1rem;
    display: flex;
    justify-content: center;
}



/*********************************CONTENIDO*********************************/
main > div#content-main{
    display: flex;
    flex-flow: wrap;
}

main > div#content-main > div.first {
    width: 100%;
}

main > div#content-main > div.first > img{
    height: 100%;
    width: 100%; 
    text-align: center;
}

main > div#content-main > div.first > div.seccion-comprar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
    text-align: center;
}
main > div#content-main > div.first > div.seccion-comprar > h2{
    font-size: 30px;
    text-transform: uppercase;
}
main > div#content-main > div.first > div.seccion-comprar > a{
    color: black;
}

main > div#content-main > div.first > div#sudaderas-seccion{
    color: white;
    padding: 25rem;
}

main > div#content-main > div.first > div#camisetas-seccion{
     color: white; 
     padding: 25rem;
    }
main > div#content-main > div.first > div#accesorios-seccion{
    color: white; 
    padding-left: 12rem;
}

main > div#content-main > div.first > div#sudaderas-seccion a{ color: white; }
main > div#content-main > div.first > div#camisetas-seccion a{ color: white; }
main > div#content-main > div.first > div#accesorios-seccion a{ color: white; }



/*ESTILOS SECCIÓN NOVEDADES*/
main > div#content-main > div.first > #prin-novedades{
    position: absolute;
    top: 140px;
    left: 45px;
}
main > div#content-main > div.first > #prin-novedades > ul{
    list-style: none;
    margin-top: 3rem;
}
main > div#content-main > div.first > #prin-novedades > ul > li{
    background-color: rgba(2, 73, 89, 0.5);
    margin: .5rem;
    padding: 1rem;
    width: 150px;
    text-align: center;
}
main > div#content-main > div.first > #prin-novedades > ul a{
    text-decoration: none; 
    color: white;
     font-size: 23px;
}

/*ESTILOS SECCIÓN CAMISETAS*/
div#productos-online {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;


}

main > div#content-main > div#productos-online > article.productos{
    /*width: 45%;*/
    flex: 0 45%;
    text-align: center;   
    position: relative;
    margin: 15px;
}

main > div#content-main > div#productos-online > article.productos > div > img.imagenes-productos{
    height: auto;
    width: 100%;
    border: solid black 7px;
    margin-bottom: .5rem;
}

img.icono-comprar-prenda{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

/*ESTILOS SECCIÓN ACCESORIOS*/
main > div#content-main > div#productos-online > article.accesorios{
    flex: 0 80%;
}
main > div#content-main > div.caja-rebajas{
    margin-top: 1rem;
    background-color: red;
    border: solid white 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 35px;
}
main > div#content-main > div.caja-rebajas > p{
    margin: 0px 25px 0px 25px;
}
.color-rojo{
    color: red;
    margin-right: 10px;
}
.antiguo{ text-decoration: line-through; }
.margen-inferior{
    margin-bottom: 1rem;
}







/*********************************PIE_DE_PAGINA*********************************/
/*El pie de página es el mismo para todos los frames, solo sufre modificaciones cuando se pasa de una version a otra*/
footer{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;

}

footer > div.formulario-pie{
    border: solid black 1px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

footer > div.formulario-pie > p{
    flex: 100%;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 15px;
}

footer > div.formulario-pie > form{
    display: flex;
    justify-content: center;
    width: 100%;
}

footer > div.formulario-pie > form > div.email-pie{
    border: solid white 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin-right: 20px;
    
}

footer > div.formulario-pie > form > div.email-pie > input{
    border: none;
    background: none;
    margin-left: .5rem;
}

footer > div.formulario-pie > form > div.email-pie > input::placeholder{
    color:white ;
    font-weight: bold;
}

footer > div.formulario-pie > form > div.boton-pie{
    border: solid white 1px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    
}

.formulario-pie input[type="button"] {
    border: none; 
    background: none; 
    
    color: black; 
    margin: 10px;
    font-weight: bold;
}

div.logotipo-pie{
    padding: .5rem;
    
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

}

footer > div.logotipo-pie > div.nombre-pie > :nth-child(1){ width: 300px; }
footer > div.logotipo-pie > p{ font-size: 10px; }

footer > div.informacion-pie{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: .5rem;
}
footer > div.informacion-pie > a{ 
    text-decoration: underline;
    color: white;
    font-size: 9px;
}