*{ box-sizing: border-box;  padding: 0; margin: 0;}

/*CABECERA*/
header{
    position: absolute;
    width: 100%;
    border: solid black 1px;
    padding: .5rem;
}

header > div#titulo{
    display: flex;
    justify-content: space-around;
}
header > div#titulo > img{
    width: 5rem;
    height: 5rem;
}
header > h1#tituloPrincipal{
    font-family: 'DelaGothicOne';
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}
#login{
    color: red;
}



div.first > img{
    height: auto;
    width: 100%;
    
}
